#img_projets{
    max-width: 10%;
    max-height: 10%;
    height: 10%;
    width: 10%;
}
#parag{
    align-items: center;
    text-align: center;
    align-content: center;
}
h5{
    align-items: center;
    text-align: center;
    align-content: center;
}
h3{
    align-items: center;
    text-align: center;
    align-content: center;
}