#img_projet{
    float: right;
    max-height: 40%;
    max-width: 20%;
}
#img_ecole{
    max-height: 30%;
    max-width: 30%;
}
#img{
    max-height: 40%;
    max-width: 20%;
}
#parag{
    align-items: center;
    text-align: left;
    align-content: center;
    padding-left: 2%;
}
#parag2{
    align-items: center;
    text-align: center;
    align-content: center;
    padding-left: 2%;
}
h1{
    padding: 1%;
}
h5{
    align-items: center;
    text-align: center;
    align-content: center;
}
h3{
    align-items: center;
    text-align: center;
    align-content: center;
}
#conteneur{
    height: fit-content;
    display: inline;
    padding: 1%;
    margin: 2%;
    min-height: 5%;
    max-height: 10%;
}
#conteneur_gauche{
    width: 45%;
    max-width: 45%;
    padding: 2%;
    margin:1%;
    float: left;
    flex: 1;
}
#conteneur_droit{
    width: 45%;
    max-width: 45%;
    padding: 2%;
    margin:1%;
    float: right;
    flex: 1;
}
#separation{
    padding: 7%;
    border-bottom: 1px solid black;
}