#img_projet{
    /*max-width: 10%;
    max-height: 10%;*/
    height: 50%;
}
#parag{
    align-items: center;
    text-align: left;
    align-content: center;
    padding-left: 2%;
}
#parag2{
    align-items: center;
    text-align: center;
    align-content: center;
    padding-left: 2%;
}
h5{
    align-items: center;
    text-align: center;
    align-content: center;
}
h3{
    align-items: center;
    text-align: center;
    align-content: center;
}
#conteneur{
    padding: 2%;
}